@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.Home{
    overflow-y: auto;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/BG1.jpg);
    background-size: cover;
    background-position: bottom;

}
.navibar{
    position: fixed;
    background-color: rgba(192, 192, 192,0.2);
    width: 100vw;
    height: 50px;
    font-size: 32px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Kaushan Script', cursive;  
}
.navibar .option div {
    width: 150px;
    text-align: center;
    cursor: alias;
}
.navibar .loc{
    position: relative;
    margin: 6px 6px;
    padding: 0 6px;
    text-align: center;
    width: 50px;
    font-size: 32px;
}

.option{
    opacity: 1;
    display: flex;
    flex-direction: row;

}
.Home .option a{
    text-decoration: none;
    color: white;
}
.option div:hover{
    border-bottom: 2px solid honeydew;
}
.title{
    justify-content: center;
    overflow-y: hidden;
    font-family: 'Kaushan Script', cursive;  
    font-size: 102px;
    color: white;
    position: absolute;
    top: 25vh;
    width: 45vw;
    left: 180px;
    height: 550px;
    text-shadow: 3px 3px 6px black;
    transform: scale(1.5,1.5);
}
.t1{
    overflow-y: hidden;
    height: 250px;
}
.title span{
    font-size: 156px;
    position: relative;
    top: 60px;
    left: -15px;
}
.t2{
    position: relative;
    left: 180px;
    bottom: 90px;
}
.MenuCard{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/BG2.jpg);
    background-size: contain;
}
.card{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 108vh;
    right: 0vw;
    color: white;
    width: 50vw;
    height: 92vh;
    overflow: hidden;
    font-family: 'Kaushan Script', cursive; 
    border-left: 2px dotted white; 
    border-bottom: 2px dotted white; 
}
.cardtitle{
    font-size: 48px;
    text-align: center;
    background-color: rgba(192, 192, 192,0.3);

}
.row1, .row2{
    position: relative;
    top: 30px;
    font-size: 42px;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
}
.row1 div,.row2 div{
    width: 220px;
}

